/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
 background-color: #0b1622; /* o el color que uses */
  margin: 0;
  min-height: 100vh; /* Asegura que siempre ocupe toda la pantalla */
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet {
  flex: 1;
}
